:root {
    --color-accent: #9adc8f; /* Replace with your preferred accent color */
	color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
	max-width: 100ch;
	margin-inline: auto;
	padding: 5ch;
	accent-color: var(--color-accent)
}

/* . before class name */
.current {
	border-bottom-width: 3px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 20px; /* Adjust the gap between grid items as needed */
}

.resume {
	border-bottom-width: 1px;
}

.resume h1:hover {
	text-decoration: underline var(--color-accent);
}

.resume h3 a {
	color: var(--color-accent)
}
.colorscheme {
	
}

img {
    max-width: 100%;
}

article {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
}

h1, h2, h3, h4, h5 h6{
	line-height: 1.1;
	text-wrap: balance;
}

h2 {
	margin: 0;
	font-size: 120%;
}

form {
    /* width: 100%; /* You can adjust the max-width as needed */
	/*box-sizing: border-box; */
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;
}

a { 
	flex:1 
}

p {
	font: 100%/1.5 system-ui;
	font-size: 100%;
}

nav {
	--border-color: oklch(50% 10% 200 / 40%);
	
	display: flex;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: oklch(80% 3% 200 / 40%);
}

nav a {
	text-decoration: none;
	color: inherit;
	text-align: center;
	padding: .5em;
}

nav a:hover {
    border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--color-accent);
	/* background-color: oklch(from var(--color-accent) 95% 5% h) */
	background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

label, input, textarea, button {
	/* Make these elements behave like block elements,
	   i.e. create line breaks before and after
	 */
	display: block;
	font: inherit;
	display: block;
}

label {
	/* Add some space before and after each label */
	margin-block: 1em; /* em is a unit that scales with the font size */
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}

input, textarea {
	/* Fill the whole available width. */
	width: 100%;

	/* Special sizing mode that makes the element’s width
	   include internal spacing (padding) and borders
	 */
	box-sizing: border-box;

	/* Use the same font and font metrics as the rest of the page */
	font: inherit;

	display: block;
}

